body {
  margin: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  width: 600px;
  height: 400px;
}

.row {
  width: 600px;
  height: 100px;
  flex-direction: row;
  justify-content: flex-start;
}

.app {
  border-radius: 22.5%;
  width: 120px;
  height: 100px;
  color: white;
  justify-content: space-evenly;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .app {
    color: black;
  }
}

.app:hover {
  background-color: #404040;
}

@media (prefers-color-scheme: light) {
  .app:hover {
    background-color: #c0c0c0;
  }
}

img {
  width: 50px;
  height: 50px;
}
